<<<<<<< HEAD
/* This is a stylesheet */

.column {
    background-color: #dea;
    float: left;
    width: 50%;
    background-color: aqua;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
=======
/* This is a stylesheet */

.column {
    background-color: #dea;
    float: left;
    width: 50%;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
>>>>>>> a5e2cc61aa2d04d74a3a338bed04387fa7558df3
}